bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/

# User specific
**/.idea/**/workspace.xml
**/.idea/**/tasks.xml
**/.idea/shelf/*
**/.idea/dictionaries
**/.idea/httpRequests/

# Sensitive or high-churn files
**/.idea/**/dataSources/
**/.idea/**/dataSources.ids
**/.idea/**/dataSources.xml
**/.idea/**/dataSources.local.xml
**/.idea/**/sqlDataSources.xml
**/.idea/**/dynamic.xml

# Rider
# Rider auto-generates .iml files, and contentModel.xml
**/.idea/**/*.imla
**/.idea/**/contentModel.xml
**/.idea/**/modules.xml

# Net specific
**/.config/*
**/tmp/*


#Solution Files
[Bb]in/
[Oo]bj/
[Pp]ackages/
[Dd]ebug/
[Rr]elease/
_UpgradeReport_Files/
x64/
*.suo
*.user
.vs/

*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.log
*.svclog
*.scc

# Visual Studio profiler
*.psess
*.vsp
*.vspx